[DEFAULT]

secrets = %(here)s/client_secrets.json

email.daily = someone@example.net admin@example.net
email.weekly = watcher@example.net
email.monthly = admin@example.net compliance@example.net
email.invalid = badlogins@example.net
sqlalchemy.echo = False

email.server = smtp.example.net:587
email.tls = True
email.auth.login = smtp.example.net
email.auth.password = auth_pass_here
email.from = watcher@example.net


# This is how often acctwatch should check for new login entries, setting this
# to anything less than 1 minute (60) doesn't make much sense, since Google
# won't add new logins to the list here for up to 5 minutes (in testing), this
# is set to 30 minutes, since this provides enough resolution.

interval = 1800

geoip_db = /path/to/GeoLite2-City.mmdb

sqlalchemy.echo = False

[mygapps]

credentials = %(here)s/%(__name__)s.secret_credentials.dat
sqlalchemy.url = sqlite:///%(here)s/%(__name__)s.db_storage.db

